#lista1{

    color: rgb(255, 255, 255);
    font-family: "Roboto";
    background-color: rgb(151, 0, 0);
    font-size: 50px;
}

#lista2{

    color: rgb(0, 0, 0);
    background-color: rgb(151, 0, 118);
    font-size: 20px;
}
}
.desafio1{

    color: orange;
 
}

p{

    color: rgb(11, 88, 15);
 
}

p{

    color: rgb(88, 11, 11);
}